

.mediaviewer {
    max-width: 100vw;
    margin: var(--spacing-large) auto;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    background: var(--primary-white);
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: var(--spacing-medium);
}

#main-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--border-radius-small);
}

@media (min-width: 37em){
    #main-image{
        width: 100%;
        height:auto;
        border-radius: var(--border-radius-small);
    }
}

/* Thumbnail container styles */
.thumbnail-container {
    display: flex;
    gap: 0.125rem;
    overflow-x: auto; 
    padding: 0.125rem;
    scrollbar-width: none; 
}

/* Thumbnails */
.thumbnail-container img.thumbnail{
    width: 10vw; 
    height: auto;
    flex-shrink: 0; 
    border-radius: var(--border-radius-small);
    cursor: pointer;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.thumbnail-container img.thumbnail:hover {
    box-shadow: var(--box-shadow);
}

.thumbnail-container::-webkit-scrollbar-thumb {
    background: var(--primary-orange); 
    border-radius: var(--border-radius-small);
}

.thumbnail-container::-webkit-scrollbar-track {
    background: var(--primary-broken-white); 
}


/* Style for the scroll buttons */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.3s;
    z-index: 1;
}

.scroll-button:hover {
    opacity: 1;
}

.scroll-button.left {
    left: .5rem; 
}

.scroll-button.right {
    right: .5rem; 
}

@media (min-width: 37em){
        /* Hide scroll buttons as they are not needed for this layout */
        .scroll-button {
            display: none;
        }
}
/*gallery*/

.gallery img.one {
    width: 100%;
    height: auto;
    display: block;
}

.gallery img.thumbnail {
    width: 28vw;
    height: auto;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.gallery img.thumbnail:hover {
    transform: scale(1.0125);
    box-shadow: var(--box-shadow);
}

@media (min-width:37em){
    .media-gallery-container{
        display: flex;
        flex-direction: row;

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .thumbnail-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
    }

    .thumbnail-container img{
        display: none;
    }

    .thumbnail-container img:nth-child(-n+4){
        display: block;
    }

    /* Thumbnail Styling */
    .thumbnail-container img.thumbnail {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius-small);
        cursor: pointer;
        transition: transform var(--transition-speed), box-shadow var(--transition-speed);
    }

    .thumbnail-container img.thumbnail:hover {
        transform: scale(1.0125); /* Slight scaling effect */
        box-shadow: var(--box-shadow);
    }

}

/*.attribute-chip {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: var(--primary-white);
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-small);
}*/

.button-group {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    gap: var(--spacing-medium);
}

.button-group button {
    padding: var(--spacing-small) var(--spacing-medium);
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    font-size: var(--font-size-small);
    color: var(--primary-white);
    transition: background-color var(--transition-speed);
}

.button-group img{
    height: 20%;
    width: auto;
}

@media(min-width: 37em){
    .button-group button{
        position: relative;
        padding: var(--spacing-small);
        font-size: 1rem;
        font-weight: 600;
        color: var(--text-color);
        border-radius:var(--border-radius-small);
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .button-group .liquid {
        background-color: var(--color-broken-white); /* Fallback background color */
        background:  linear-gradient(var(--color-orange) 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.2em), /* Gradient effect */
        var(--color-white);
        transition: 0.3s var(--t, 0s), 
        background-position 0.3s calc(0.3s - var(--t, 0s));
      }
      
      .button-group .liquid:hover {
        --p: 100%;
        --t: 0.3s;
        color: var(--color-white);
      }
    
}

.media-teaser { 
    display: none; 
}

@media (min-width: 37em) {  

    .media-teaser { 
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: var(--spacing-medium);
        background-color: var(--primary-white);
        border-bottom: 0.1rem solid var(--color-orange);
    }

    .media-teaser a {
        text-decoration: none;
        color: var(--color-blue);
        font-size: var(--font-size-small);
        font-weight: bold;
        align-items: center;
        gap: var(--spacing-small);
    }

    .media-teaser a:hover {
        color: var(--color-bright-blue);
    }

    .media-teaser a.fotos-360, a.tour, a.video{
        display: none;
    }
}


@media (min-width: 62em){
    .media-teaser a.fotos-360, a.tour, a.video{
        display: flex;
    }

}


.fade-in {
    animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
